
[submodule "third_party/stgcn"]
	path = third_party/stgcn
	url = https://github.com/hazdzz/stgcn.git
[submodule "third_party/MLCAFormer-for-traffic"]
	path = third_party/MLCAFormer-for-traffic
	url = https://github.com/hehengyuan25/MLCAFormer-for-traffic.git
[submodule "third_party/DCRNN_PyTorch"]
	path = third_party/DCRNN_PyTorch
	url = https://github.com/chnsh/DCRNN_PyTorch
[submodule "third_party/TASSGN"]
	path = third_party/TASSGN
	url = https://github.com/ChenMao20374042/TASSGN